.quote {
    background-color: var(--bg);
    padding: 1em;
    border-top: solid 0.1em var(--violet);
    border-bottom: solid 0.1em var(--violet);
    font-weight: bolder;

    svg {
        height: 1.5em;
        float: left;
        margin: 0 1em 0 0;
    }

    footer {
        margin-top: 1em;
        font-style: italic;
    }

    .main-color {
        stop-color: var(--violet);
    }

    .alt-color {
        stop-color: var(--gray4);
    }
}

.theme-picker {
    display: flex;
}

.container {
    width: min(100% - 2rem, 60rem);
    margin-inline: auto;
}