@import './native-elements/links.scss';
@import './native-elements/switch.scss';


#root {
    min-height: 100vh;
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;

    > header {
        min-height: 3rem;
        width: 100%;
        background: var(--bg-nav);
        color: var(--text);
    }
}
