.switch {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-inline: 0.5em;

    span {
        margin-inline: 0.5em;
        display: flex;

        input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;
        }

        label {
            cursor: pointer;
            text-indent: -9999px;
            width: 2.5em;
            height: 1.4em;
            background: var(--bg-highlighted);
            border: solid 0.1em var(--text);
            display: inline-block;
            border-radius: 100px;
            position: relative;
        }

        label:after {
            content: '';
            position: absolute;
            top: 0.1em;
            left: 0.1em;
            width: 1em;
            height: 1em;
            background: var(--blue);
            border-radius: 1em;
            transition: 0.3s;
        }

        input:checked+label:after {
            left: calc(100% - 0.25em);
            transform: translateX(-100%);
        }

        label:active:after {
            width: 2.5em;
        }
    }
}